.mainContainer {
  width: 30%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imgButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 5px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.imgButton:hover {
  border: 4px solid var(--background-primary);
  transition: all 0.5s ease;
}

.imgButton:active {
  border: 4px solid var(--color-pink-light);
  transition: all 0.5s ease;
}

.imageContainer {
  position: relative;
  width: 90%;
  aspect-ratio: 155/200;
}

.image {
  object-fit: cover;
}

.bottomButton {
  width: 100%;
  border: none;
  padding: 10px 0;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: var(--font-weight-primary);
  background-color: var(--background-secondary);
  color: var(--color-pink);
  transition: all 1s ease;
}

.bottomButton:hover {
  background-color: var(--color-pink-light);
  transition: all 0.5s ease;
}

.bottomButton:active {
  background-color: var(--color-pink);
  color: #fff;
  transition: all 0.5s ease;
}
