.mainContainer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
  margin-top: 10px;
}
.buttons {
  margin: 20px;
  display: flex;
  gap: 10px;
}

.imageContainer {
  margin: 20px;
  position: relative;
  aspect-ratio: 64/36;
}

.image {
  object-fit: cover;
  border-radius: var(--border-radius);
}

.votingButtons {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .votingButtons {
    bottom: -20%;
  }
}
