.mainContainer {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dropzone {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--background-pink);
  background: var(--background-upload), var(--background-modal-secondary);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: var(--font-weight-secondary);
  color: var(--color-gray);
}

.dropzone[data-error="error"] {
  background: var(--background-upload), var(--background-pink);
}

.mainContainer span {
  font-weight: var(--font-weight-primary);
  color: var(--text-color-primary);
}

.imageContainer {
  width: 90%;
  height: 260px;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: var(--border-radius);
}

.status {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-modal-secondary);
  border-radius: 10px;
}
.statusMessage {
  font-size: 16px;
  font-weight: var(--font-weight-secondary);
  color: var(--color-gray);
}
.status svg {
  margin-left: 20px;
}

.uploadButton {
  font-size: 12px;
  font-weight: var(--font-weight-primary);
  height: 40px;
  background-color: var(--color-pink);
  color: #fff;
}

.uploadButton:hover {
  background-color: var(--background-pink);
  color: var(--color-pink);
  transition: all 0.5s ease;
}
