.gridContainer {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px 200px;
  gap: 20px;
}

.gridItem {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .gridItem:nth-child(1) {
    grid-row: span 2;
  }

  .gridItem:nth-child(4) {
    grid-row: span 2;
    grid-column: span 2;
  }

  .gridItem:nth-child(8) {
    grid-row: span 2;
  }

  .gridItem:nth-child(9) {
    grid-row: span 2;
    grid-column: span 2;
  }

  .gridItem:nth-child(11) {
    grid-row: span 2;
  }

  .gridItem:nth-child(14) {
    grid-row: span 2;
    grid-column: span 2;
  }

  .gridItem:nth-child(18) {
    grid-row: span 2;
  }

  .gridItem:nth-child(19) {
    grid-row: span 2;
    grid-column: span 2;
  }
}

@media screen and (max-width: 1023px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
