.responsiveImage {
  position: relative;
  aspect-ratio: 75/40;
}

.carousel {
  margin: 0;
  padding: 20px;
  :global(.carousel .slider-wrapper) {
    border-radius: var(--border-radius);
  }
  :global(.control-dots) {
    z-index: 99 !important;
    width: auto !important;
    height: 30px !important;
    bottom: -20px !important;
    left: 50% !important;
    transform: translateX(-50%);
    background-color: var(--background-secondary) !important;
    border-radius: 13px;
  }
  :global(.dot) {
    margin: 10px 10px !important;
    box-shadow: none !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    background-color: var(--background-pink) !important;
  }

  :global(.dot.selected) {
    background-color: var(--color-pink) !important;
  }
}
