.logs {
  display: flex;
  flex-direction: column;
  margin: 30px 20px 20px;
  gap: 10px;
}

.log {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-primary);
  border-radius: 10px;
  font-size: 16px;
  font-weight: var(--font-weight-secondary);
  color: var(--color-gray);
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 15px;
}

.time {
  padding: 5px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  color: var(--text-color-primary);
}

.info span {
  font-weight: var(--font-weight-primary);
  color: var(--text-color-primary);
}

.likeIcon {
  fill: var(--color-green);
}

.dislikeIcon {
  fill: var(--color-yellow);
}
