.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
  margin-top: 10px;
}
.buttons {
  margin: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.selectBreeds {
  width: 30% !important;
}

.sortButton {
  height: 40px;
  background-color: var(--background-primary);
  border: 2px solid transparent;
}

.sortIcon {
  fill: var(--color-gray);
}

.sortButton:hover {
  border: 2px solid var(--background-pink);
}

.sortButton:hover .sortIcon {
  fill: var(--color-pink);
}

@media screen and (max-width: 767px) {
  .buttons {
    flex-wrap: wrap;
  }
  .selectBreeds {
    height: 40px;
    width: 100% !important;
  }
  .selectLimit {
    width: 60%;
  }
}
