:root {
  --max-width: 1440px;
  --border-radius: 20px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --background-dark-gray: #c4c4c4;
  --background-light-gray: #f8f8f7;
  --background-white: #fff;
}
