.header {
  flex: 1;
  position: relative;
}
.mainContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0 20%;
  position: sticky;
  top: 30px;
}

.mainContainer p {
  font-size: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.article h1 {
  font-size: 44px;
  margin: 5px 0;
}

.article p {
  color: var(--color-gray);
  font-weight: var(--font-weight-secondary);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

@media screen and (max-width: 1023px) {
  .theme {
    display: none !important;
  }
  .header {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mainContainer {
    width: 100%;
    margin: 0;
  }
  .nav {
    flex-direction: column;
  }
}
